/*!
  * Danna UI v1.0
  * Developer by https://github.com/frambersilva
  * Copyright 2024 | Framber Silva
  * License MIT
*/::selection{background-color:var(--keycolor);color:#f2f4f8}*{margin:0;padding:0;box-sizing:border-box}html{scroll-behavior:smooth}body{line-height:1.5;font-family:var(--fonts),sans-serif}audio,canvas,embed,iframe,img,object,svg,video{display:block;width:100%}canvas,img,svg,video{height:auto}li{list-style:none}h1,h2,h3,h4,h5,h6{font-family:inherit;color:inherit;font-size:inherit}p{overflow-wrap:break-word}a,a:hover{color:inherit;text-decoration:none}small{font-size:90%}strong{font-weight:bolder}summary{display:list-item}textarea{resize:vertical}[hidden]{display:none}input,button,textarea,select{font-family:inherit}button,iframe,input,textarea{background-color:rgba(0,0,0,0);border:0}button:focus,input:focus,textarea,textarea:focus{outline:0}textarea{resize:vertical}input::placeholder,textarea::placeholder{color:inherit}code{font-family:monospace;font-weight:700;font-size:1rem;unicode-bidi:bidi-override}figure{position:relative}figcaption{text-align:center;margin-top:.75rem;font-size:.875rem}svg{stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke:currentColor;fill:none}mark{background:#efefbb;color:#4c4c29}audio::-webkit-media-controls-panel{background:var(--dk-light)}#offcanvas,.offcanvas{display:none}#offsearch{display:none}#offcanvas:checked+.menu-offcanvas{transform:translateX(0)}#offsearch:checked+.search-offcanvas{display:block}#offcanvas:not(:checked)~.offcanvas::before,#offsearch:not(:checked)~.offsearch::before{pointer-events:none;opacity:0}.offcanvas::before,.offsearch::before{content:"";inset:0;display:block;width:100%;position:fixed;z-index:100}.offcanvas::before{background-color:rgba(0,0,0,.21)}.offsearch::before{background-color:rgba(0,0,0,.85)}.search-offcanvas input{color:var(--bg-white);padding-bottom:1rem;font-size:2rem;border-bottom:4px solid var(--bg-white)}.search-offcanvas{z-index:200;position:fixed;padding:1.5rem;border-radius:8px;top:50%;left:50%;transform:translate(-50%, -50%);display:none;width:90%;max-width:520px;transition:transform .3s;animation:fadeIn .3s}.dropdown-menu{display:flex}.dropdown-menu li{position:relative;display:flex;flex-direction:column}.dropdown-menu a{display:flex;align-items:center;font-size:1rem;flex:1 0 auto}.dropdown-menu ul{visibility:hidden;max-height:0}.dropdown-menu .is-arrow{margin-left:auto}.dropdown-menu .is-parent>a .is-arrow::after{content:"";display:inline-block;width:0;height:0;vertical-align:middle;border-right:6px solid rgba(0,0,0,0);border-left:6px solid rgba(0,0,0,0);border-top:6px dashed;margin-left:.5rem}@media(max-width: 991px){.dropdown-menu ul.is-active{visibility:visible;max-height:inherit}.dropdown-menu ul{overflow:hidden}.dropdown-menu{-ms-flex-direction:column;flex-direction:column}}@media(min-width: 992px){.dropdown-menu ul{text-align:left;top:0;left:100%;position:absolute;min-width:100%}.dropdown-menu a{white-space:nowrap}.dropdown-menu>li>ul{top:100%;left:0}.dropdown-menu li>ul{pointer-events:none}.dropdown-menu li:hover>ul{visibility:visible;max-height:inherit;pointer-events:all}.dropdown-menu ul .is-parent>a .is-arrow::after{border-left:4px dashed;border-right:0 rgba(0,0,0,0);border-top:4px solid rgba(0,0,0,0);border-bottom:4px solid rgba(0,0,0,0);border-radius:8px}}.dropdown-menu li{position:relative;z-index:20;transition:background .3s}.dropdown-menu a ul li{color:var(--bg-dark)}.dropdown-menu li:active,.dropdown-menu li:hover{color:var(--white)}.dropdown-menu a{padding:1.25rem;white-space:nowrap;position:relative;font-weight:bolder}.dropdown-menu a:hover{color:var(--keycolor)}@media(min-width: 992px){.dropdown-menu li>ul{background:var(--dk-white);color:var(--dk-dark);box-shadow:rgba(23,43,99,.14) 0 7px 28px !important}.dropdown-menu li:hover>ul{animation:dropdown .3s;z-index:100;display:block !important}}@media(max-width: 992px){.menu-offcanvas{position:fixed;bottom:0;left:0;top:0;transition:transform .3s;background-color:var(--dk-white);color:var(--dk-black);z-index:9999;transform:translateX(-100%);width:70%}.offcanvas{display:block}.menu{padding:var(--md)}}.container,.container-blog,.container-page{margin-left:auto;margin-right:auto;padding-left:.5rem;padding-right:.5rem}.container{width:96%;max-width:var(--width-container)}.container-blog{max-width:960px}.container-page{max-width:800px}.container-fluid{width:100%}.layout{display:grid;column-gap:2rem;grid-template-areas:"content sidebar";grid-template-columns:minmax(0, 1fr) var(--sidebar)}.content{grid-area:content}.sidebar{width:var(--sidebar);grid-area:sidebar}@media(max-width: 992px){.layout{grid-template-areas:"content" "sidebar";grid-template-columns:100%}.sidebar{width:100%}}@media(min-width: 992px){.parent{display:grid;grid-template-columns:repeat(3, minmax(0, 1fr));gap:1rem;grid-auto-flow:row dense}.parent :where(.column:nth-child(1),.column:nth-child(2)){grid-row:span 2/span 2;position:relative}.parent :where(.column-img:nth-child(3),.column-img:nth-child(4)){grid-row:auto}.column:nth-child(1) img,.column:nth-child(2) img{height:100%;object-fit:cover}.column:nth-child(3) img,.column:nth-child(4) img{height:200px}}.parent{height:100%}@media(max-width: 576px){.parent{display:flex;gap:.5rem;overflow-x:scroll;width:100wv;scroll-snap-type:x mandatory;-webkit-overflow-scrolling:touch}.parent .column{flex:0 0 50vh}.card-overlay .card-image img{height:320px}}.p-sm{padding:var(--sm)}.p-md{padding:var(--md)}.p-lg{padding:var(--lg)}.py-1{padding-top:1rem;padding-bottom:1rem}.py-2{padding-top:2rem;padding-bottom:2rem}.py-3{padding-top:3rem;padding-bottom:3rem}.mb{margin-bottom:1rem}.mt{margin-top:1rem}.my-1{margin-top:1rem;margin-bottom:1rem}.my-2{margin-top:2rem;margin-bottom:2rem}.my-3{margin-top:3rem;margin-bottom:3rem}.cenblock{display:block}.unli{list-style:none}.w-full{width:100%}.list{list-style:decimal}.obj-cover{object-fit:cover}.grid{display:grid}.block{display:block}.relative{position:relative}.absolute{position:absolute}.sticky{position:sticky}.t0{top:0}.l0{left:0}.r0{right:0}.b0{bottom:0}.pointer{cursor:pointer}.i{width:18px}.i-sm{width:24px}.i-md{width:32px}.i-lg{width:64px}.sh-sm{box-shadow:var(--sh-sm)}.sh-md{box-shadow:var(--sh-md)}.sh-lg{box-shadow:var(--sh-lg)}.sh-ui{box-shadow:var(--sh-ui)}.rd-sm{border-radius:var(--sm)}.rd-md{border-radius:var(--md)}.rd-lg{border-radius:var(--lg)}.rd-circle img{border-radius:50%;object-fit:cover}.flex{display:flex}.wrap{flex-wrap:wrap}.no-wrap{flex-wrap:nowrap}.align-items-center{align-items:center}.justify-between{justify-content:space-between}.justify-center{justify-content:center}.flex-row{flex-direction:row}.flex-column{flex-direction:column}.row-reverse{flex-direction:row-reverse}.column-reverse{flex-direction:column-reverse}.txt-center{text-align:center}@media(min-width: 768px){.txt-center-lg{text-align:center}.flex-lg{display:flex}.wrap-lg{flex-wrap:wrap}.no-wrap-lg{flex-wrap:nowrap}.align-items-center-lg{align-items:center}.justify-between-lg{justify-content:space-between}.justify-center-lg{justify-content:center}.flex-row-lg{flex-direction:row}.flex-column-lg{flex-direction:column}}[class*=col-]{display:grid}.gap-sm{gap:var(--xs)}.gap-md{gap:var(--md)}.gap-lg{gap:var(--lg)}.col-1{grid-template-columns:repeat(auto-fill, minmax(min(100%, 40rem), 1fr));gap:1rem}.col-2{grid-template-columns:repeat(auto-fill, minmax(min(100%, 30rem), 1fr));gap:1rem}.col-3{grid-template-columns:repeat(auto-fill, minmax(min(100%, 20rem), 1fr));gap:1rem}.col-4{grid-template-columns:repeat(auto-fill, minmax(min(100%, 16rem), 1fr));gap:.5rem}.col-5{grid-template-columns:repeat(auto-fill, minmax(min(100%, 12rem), 1fr));gap:1rem}.fs-1{font-size:2.5rem}.fs-2{font-size:2rem}.fs-3{font-size:1.5rem}.fs-4{font-size:1.25rem}.fs-5{font-size:1.125rem}.fs-6{font-size:1rem}.fs-7{font-size:.875rem}.fs-8{font-size:.75rem}.fw-300{font-weight:300}.fw-400{font-weight:400}.fw-500{font-weight:500}.fw-600{font-weight:600}.fw-700{font-weight:700}.txt-left{text-align:left}.txt-right{text-align:right}.txt-center{text-align:center}.bg-white{background-color:var(--bg-white)}.bg-light{background-color:var(--bg-light)}.bg-black{background-color:var(--bg-black)}.bg-dark{background-color:var(--bg-dark)}.color-white{color:var(--bg-white)}.color-light{color:var(--bg-light)}.color-black{color:var(--bg-black)}.color-dark{color:var(--bg-dark)}.dk\:bg-white{background-color:var(--dk-white)}.dk\:bg-light{background-color:var(--dk-light)}.dk\:bg-dark{background-color:var(--dk-dark)}.dk\:bg-black{background-color:var(--dk-black)}.color-dk-white{color:var(--dk-white)}.color-dk-light{color:var(--dk-light)}.color-dk-black{color:var(--dk-black)}.color-dk-dark{color:var(--dk-dark)}.color-keycolor{color:var(--keycolor)}.bg-header{background-color:var(--keycolor)}.bg-footer{background-color:var(--bg-footer)}.bg-subfooter{background-color:var(--sub-footer)}.bg-keycolor{background-color:var(--keycolor)}.accordion-item,.spoiler-item{padding-top:1rem;padding-bottom:1rem}.accordion{margin:0;padding:.875rem 1rem;border-top:1px solid #ccc;transition:all .3s ease}.accordion summary{width:100%;display:flex;justify-content:space-between;cursor:pointer}.accordion summary::after{content:"+";font-size:21px;line-height:1;font-weight:300}.accordion[open] summary::after{content:"−"}.alert{padding:1.5rem;border-radius:.5rem;background-color:#f1f1f1}.alert-info{background-color:#e6f5f3;color:#005f51}.alert-sucess{background-color:#f0f9f1;color:#3c7545}.alert-danger{background-color:#fcebe9;color:#852115}.alert-warning{background-color:#fcf5e9;color:#855f15}.btn{display:inline-flex;align-items:center;justify-content:center;column-gap:.5rem;padding:.75rem .875rem;font-size:.875rem;font-weight:500;border-radius:.5rem;line-height:1.5;}.breadcrumbs{gap:1rem;display:flex}.breadcrumb-item{list-style:none}.breadcrumb-item::after{content:"/";margin-left:1rem}.card-blog,.card-galery,.card-grid,.card-modern,.card-normal,.card-overlay{transition:transform .3s}.card-blog .card-body,.card-grid .card-body,.card-modern .card-body,.card-overlay .card-body{padding:var(--md)}.card-blog:hover,.card-grid:hover,.card-modern:hover,.card-normal:hover{transform:translateY(-4px)}.card-image img{width:100%;object-fit:cover;display:block}.card-normal .card-title{margin-top:1rem;margin-bottom:1rem;font-size:1.15rem;font-weight:400}.card-normal .card-time,.card-normal .card-title{color:var(--dk-dark)}.card-normal .card-image img{border-radius:var(--sm)}.card-grid .card-title{font-size:1.115rem;margin-bottom:1rem}.card-grid{background-color:var(--dk-white);color:var(--dk-dark);border:2px solid var(--dk-light)}.card-grid .card-image{width:100%;height:100%}.card-grid .card-image img{border-top-left-radius:var(--sm);border-top-right-radius:var(--sm)}.card-blog .card-image img,.card-grid .card-image img,.card-normal .card-image img{height:220px}.card-product .card-image img{height:340px;border-radius-top-left:8px;border-radius-top-right:8px}.card-product .card-body{border:1px solid var(--dk-light)}.card-blog{padding:var(--md);box-shadow:var(--sh-ui);background-color:var(--dk-white);color:var(--dk-dark)}.card-blog .card-title{font-size:1.1rem;margin-bottom:var(--sm)}.card-blog .card-snippet{font-size:.85rem}.card-list{display:flex;margin-top:var(--sm);background-color:var(--dk-white);padding:1rem}.card-list .card-body{padding-left:var(--md)}.card-list .card-image{width:220px;height:100%;margin-right:var(--sm)}.card-list .card-image img{height:220px;border-radius:8px}.card-list .card-body{width:calc(100% - 220px)}.card-list .card-snippet{font-size:.95rem}@media(max-width: 800px){.card-list .card-image{width:110px;height:100%;object-fit:cover}.card-list .card-image img{border-radius:var(--sm);height:110px}.card-list .card-body{width:calc(100% - 110px)}.card-list .card-title{font-size:.875em;margin-bottom:0;padding-bottom:0;color:var(--dark)}.card-list .card-author{font-size:.675rem}.card-list .i{width:18px}.card-list .card-snippet{display:none}}.card-overlay{position:relative;box-shadow:var(--sh-ui);overflow:hidden}.card-overlay .card-image{padding:0}.card-overlay .card-image img{transition:transform .3s;display:block}.card-overlay .card-image img:hover{transform:scale(1.1);opacity:.9}.card-overlay .card-body{position:absolute;left:0;bottom:0;width:100%;background:linear-gradient(transparent, rgba(0, 0, 0, 0.9));z-index:2}.card-overlay .card-title{color:var(--bg-light);font-size:1.15rem}.card-overlay .card-snippet{font-size:.95rem;color:var(--bg-light)}.card-overlay .card-time{color:var(--bg-light);opacity:.7;font-weight:700;text-transform:uppercase}.card-modern{position:relative;margin-bottom:3rem}.card-modern .card-image{width:100%;padding:0;margin:0}.card-modern .card-image img{height:260px;width:100%;object-fit:cover}.card-modern .card-body{background-color:var(--dk-white);color:var(--dk-dark);width:96%;position:absolute;left:0;bottom:-40%;right:0;margin-bottom:60px;margin-left:auto;margin-right:auto;z-index:10;box-shadow:var(--sh-ui);border-radius:var(--sm)}.card-galery{position:relative;overflow:hidden}.card-galery .card-image img{height:360px}.card-galery .card-title{color:var(--bg-light)}.card-galery .card-body{transition:background .3s;visibility:hidden;padding:var(--md);position:absolute;width:100%;top:0;bottom:0;left:0;right:0;color:var(--bg-light);background-color:rgba(0,0,0,.85)}.card-galery:hover>.card-body{display:flex;flex-wrap:wrap;visibility:visible}.spoiler{padding:.875rem;border-top:1px solid #ccc;border-bottom:1px solid #ccc}.spoiler[open]>summary{margin-bottom:1rem}.spoiler summary{display:flex;justify-content:space-between;cursor:pointer}.spoiler summary::after{font-weight:300;content:"Mostrar más"}.spoiler[open]>summary::after{content:"Mostrar menos"}

.inline-block{
display: inline-block;
}


#disqus_thread a{
  color:var(--disqus-color)
}

/*Footer*/
.grid-row{
    grid-template-columns: 35% 1fr;
    gap: 10%;
    display:grid
}

.grid-template{
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    display:grid
}

@media(max-width: 576px){
  .grid-row{
      grid-template-columns: 1fr;
  }

  .grid-template{
      grid-template-columns:repeat(2,1fr);
  }
}

.fs-logo{
  font-size:var(--fs-logo)
}

.color-header{
  color:var(--color-header)
}

.bg-body{
  background-color:var(--bg-body)
}


.tags{
  position:relative
}

.tags a{
  display:inline-block;
}



/* => SVG */
.svg-check,.svg-xmark{
  background-repeat:no-repeat;
  background-size:25px;
  background-position:0 0;
  padding:0px 30px
}

.svg-check{
  background-image:var(--svg-success)
}

.svg-xmark{
  background-image:var(--svg-xmark)
}

.price-item{
  border:4px solid var(--bg-blue);
  box-shadow:var(--sh-ui);
  border-radius:12px
}

.nav-fixed{
  position:fixed;
  top:0;
  left:0;
  right:0;
  z-index:300
}

.is-fixed{
  padding-top:65px
}

.sticky-sidebar{
  position:sticky;
  top:5rem;
  display:block
}


.py-max{
  padding-top:8rem;
  padding-bottom:8rem
}

@media(max-width:576px){
  .py-max{
    padding-top:3rem;
    padding-bottom:3rem
  }
}

.hero-img{
  max-width:100%;
  width:100%;
  height:320px
}

.layout-box{
  margin:0 auto;
  background-color:var(--dk-light);
  width:95%;
  max-width:var(--width-container);
  box-shadow:var(--sh-ui)
}

.m-auto{
  margin:0 auto;
  max-width:var(--width-container)
}

@media(max-width:992px){
  .m-auto, .layout-box{
    width:100%
  }
}

/*
* Enlaces del footer 
--------------------------*/
@media (max-width:420px){
 .links{
   margin-top:1rem
 }
 .flex-sm{
   display:flex;
}

  .justify-center-sm{
     justify-content: center;
  }
}

/* Layout-menu */
.layout-website.is-active{
  overflow:hidden
}


/*=> Modo oscuro*/
.theme-switch{
  display:inline-block;
  position:relative;
  width:20px;
  height:18px
}

.theme-switch input{
  display:none
}

.slider svg{
  position:absolute;
  transition:opacity .2s ease 0,transform .35s ease 0
}

.feather-moon{
  opacity:0;
  transform:translateX(0)
}

.feather-sun{
  opacity:1;
  transform:translateX(0)
}

input:checked+.slider .feather-moon{
  opacity:1;
  transform:translateX(0)
}

input:checked+.slider .feather-sun{
  opacity:0;
  transform:translateX(0)
}

/*! Animaciones */
@keyframes fadeIn{
  from{
    opacity:0
  }
  
  to{
    opacity:1
  }
}

@keyframes dropdown{
  0%{
    transform:translate3d(0,12px,0);
    transition:transform .17s ease;
  }

  100%{
    transform:translate3d(0,0,0);
    transition:transform .17s ease;
  }
}

@keyframes pages{
  0%{
    transform:translateY(8px);
    opacity:0
  }

  100%{
    transform:translateY(4px);
    opacity:1
  }
}

.layout{
  transition:background-color .3s, transform .3s;
  animation:pages .3s
}


.shop-title{
  border-bottom: 2px solid #f2f4f9;
  padding-bottom: 8px
}

/* => Home */
.autor-hero{
    width: 260px;
    height:260px;
    object-fit:cover;
    border-radius:50%;
}

@media (max-width: 992px){
    .autor-hero{
        width: 160px;
        height:160px;
    }

    .order-0{
        order:0;
    }

    .order-1{
        order:1;
    }

    .txt-center-sm{
        text-align: center
    }
}

.category-image img{
    width:100%;
    max-height:180px
}


/*!
* Plugins
---------------------------------------*/

/* Botón Subir */
.toTop {
  border: none;
  display: flex;
  cursor: pointer;
  transition: opacity 0.3s, transform 0.3s;
  /* posición */
  position: fixed; right: 1rem; bottom: 1rem; z-index: 9999;
}

.toTop:not(.is-visible) {
  pointer-events: none;
  opacity: 0;
  transform: translateY(-2rem);
}
.toTop svg {
  stroke-width: 3px;
  stroke: currentColor;
  fill: none;
  width: 24px;
}
/* Personalizar */
.toTop {
  background-color: #252525;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
  padding: 0.75rem;
  color: #fff;
}


.feature-icon{
    padding: 1rem;
    background-color: #f2f4f9;
    width: 80px;
    height: 80px;
    display: flex;
    margin: 0 auto;
    border-radius: 50%;
    color: var(--keycolor);
}


/* => WIDGET */
.sidebar .widget{
  margin-bottom:1rem;
}

.sidebar .widget ol, .sidebar .widget ul li{
  list-style: none;
}

#menu .widget  .widget-title .widget-name,
#BlogSearch1 .widget .widget-title .widget-name,
#category-items .widget .widget-title .widget-name{
    display: none;
}


.sidebar .card-image img{
    height:210px;
    width:100%;
}

.links-link{
    display: block;
    margin-bottom:1rem;
    color:#aaa;
}

.widget-title{
  margin-bottom: 1.25rem;
}

.widget-name{
    font-size: 1.25rem;
  
}

.headline, 
.PopularPosts .widget-title,
#sidebar .widget-title{
    padding: 0;
    background-color: var(--dk-light);
    position: relative;
    overflow: hidden;
}

.headline h2, .PopularPosts .widget-name, #sidebar .widget-name{
    padding:1rem;
    display: inline-block;
   background: var(--keycolor);
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
}