<!-- BlogSearch -->
<b:includable id='widget:BlogSearch'>
<form class='search' expr:action='data:blog.searchUrl' method='get'>
  <input autocomplete='off' class='search-input form-control p-lg dk:bg-white sh-ui' expr:placeholder='data:view.search.query.escaped ?: data:messages.search' expr:value='data:view.search.query.escaped' name='q' required='required' spellcheck='false' type='text'/>
</form>
</b:includable>