<!-- Footer -->
<footer class='footer' itemscope='itemscope' itemtype='http://schema.org/WPFooter'>
<div class='bg-footer color-white'>
<div class='footer-list container grid-row py-2'>
<div class='footer-brand'>
<div class='items flex column'>
<b:section id='footer-section-1'>
  <b:widget id='Text2' locked='false' title='Asap theme' type='Text' version='2' visible='true'>
    <b:widget-settings>
      <b:widget-setting name='content'><![CDATA[We Create Professional, High Quality & SEO Friendly Blogger Templates.]]></b:widget-setting>
    </b:widget-settings>
    <b:includable id='main' var='this'>
<b:include name='widget-title'/>
<b:include name='content'/>
</b:includable>
    <b:includable id='content'>
<div class='widget-content'>
<b:include expr:name='&quot;widget:&quot; + data:widget.type'/>
</div>
</b:includable>
  </b:widget>
</b:section>   
</div>
</div>
<div class='footer-links grid-template'>
<div class='items flex column'>
<b:section id='footer-section-2'>
  <b:widget id='LinkList3' locked='false' title='Best Sellers' type='LinkList' version='2' visible='true'>
    <b:widget-settings>
      <b:widget-setting name='shownum'>5</b:widget-setting>
      <b:widget-setting name='sorting'>NONE</b:widget-setting>
      <b:widget-setting name='text-1'>Desarrollo web</b:widget-setting>
      <b:widget-setting name='link-1'>https://desarrolloweb.win</b:widget-setting>
      <b:widget-setting name='text-0'>zkreations</b:widget-setting>
      <b:widget-setting name='link-2'>https://karasu-themes.com</b:widget-setting>
      <b:widget-setting name='link-0'>https://www.zkreations.com/</b:widget-setting>
      <b:widget-setting name='text-2'>Karasu Themes</b:widget-setting>
    </b:widget-settings>
    <b:includable id='main' var='this'>
<b:include name='widget-title'/>
<b:include name='content'/>
</b:includable>
    <b:includable id='content'>
<div class='widget-content'>
<b:include expr:name='&quot;widget:&quot; + data:widget.type'/>
</div>
</b:includable>
  </b:widget>
</b:section>
</div>
<div class='items flex column'>
<b:section id='footer-section-3'>
  <b:widget id='LinkList4' locked='false' title='Company' type='LinkList' version='2' visible='true'>
    <b:widget-settings>
      <b:widget-setting name='shownum'>5</b:widget-setting>
      <b:widget-setting name='sorting'>NONE</b:widget-setting>
      <b:widget-setting name='text-1'>Cookies</b:widget-setting>
      <b:widget-setting name='link-1'>https://frambersilva.com/p/cookies.html</b:widget-setting>
      <b:widget-setting name='text-0'>Aviso legal</b:widget-setting>
      <b:widget-setting name='link-2'>https://frambersilva.com/p/privacidad.html</b:widget-setting>
      <b:widget-setting name='link-0'>https://frambersilva.com/p/aviso-legal.html</b:widget-setting>
      <b:widget-setting name='text-2'>Privacidad</b:widget-setting>
    </b:widget-settings>
    <b:includable id='main' var='this'>
<b:include name='widget-title'/>
<b:include name='content'/>
</b:includable>
    <b:includable id='content'>
<div class='widget-content'>
<b:include expr:name='&quot;widget:&quot; + data:widget.type'/>
</div>
</b:includable>
  </b:widget>
</b:section>
</div>
  <div class='items flex column'>
    <b:section id='footer-section-4'>
      <b:widget id='LinkList2' locked='false' title='Help &amp;amp; Support' type='LinkList' version='2' visible='true'>
        <b:widget-settings>
          <b:widget-setting name='shownum'>3</b:widget-setting>
          <b:widget-setting name='sorting'>NONE</b:widget-setting>
          <b:widget-setting name='text-1'>Support</b:widget-setting>
          <b:widget-setting name='link-1'>https://adsense.google.com</b:widget-setting>
          <b:widget-setting name='text-0'>FAQ</b:widget-setting>
          <b:widget-setting name='link-2'>https://adsense.google.com</b:widget-setting>
          <b:widget-setting name='link-0'>https://adsense.google.com</b:widget-setting>
          <b:widget-setting name='text-2'>Documentation</b:widget-setting>
        </b:widget-settings>
        <b:includable id='main' var='this'>
<b:include name='widget-title'/>
<b:include name='content'/>
</b:includable>
        <b:includable id='content'>
<div class='widget-content'>
<b:include expr:name='&quot;widget:&quot; + data:widget.type'/>
</div>
</b:includable>
      </b:widget>
    </b:section>
  </div>
</div>
</div>
</div>
<!-- Sub footer -->
<div class='bg-subfooter color-white'>
<div class='footer-copyrght container p-md flex-lg align-items-center-lg justify-between-lg txt-center'>
<div class='left'>
<b:section id='copyright'>
  <b:widget id='Text1' locked='false' title='' type='Text' version='2' visible='true'>
    <b:widget-settings>
      <b:widget-setting name='content'><![CDATA[Creado por Framber Silva &copy; 2024 | Powered by Blogger]]></b:widget-setting>
    </b:widget-settings>
    <b:includable id='main' var='this'>
<b:include name='widget-title'/>
<b:include name='content'/>
</b:includable>
    <b:includable id='content'>
<div class='widget-content'>
<b:include expr:name='&quot;widget:&quot; + data:widget.type'/>
</div>
</b:includable>
  </b:widget>
</b:section>
</div>
<div class='right'>
<nav class='pages-footer flex justify-center gap-md'>
<b:section id='footer-social'>
  <b:widget id='LinkList1' locked='false' title='' type='LinkList' version='2' visible='true'>
    <b:widget-settings>
      <b:widget-setting name='shownum'>3</b:widget-setting>
      <b:widget-setting name='link-3'>#</b:widget-setting>
      <b:widget-setting name='sorting'>ALPHABETICAL</b:widget-setting>
      <b:widget-setting name='link-4'>https://fb</b:widget-setting>
      <b:widget-setting name='text-1'>pinterest</b:widget-setting>
      <b:widget-setting name='link-1'>#</b:widget-setting>
      <b:widget-setting name='text-0'>facebook</b:widget-setting>
      <b:widget-setting name='link-2'>https://</b:widget-setting>
      <b:widget-setting name='text-3'>x</b:widget-setting>
      <b:widget-setting name='link-0'>#</b:widget-setting>
      <b:widget-setting name='text-2'>telegram</b:widget-setting>
      <b:widget-setting name='text-4'>youtube</b:widget-setting>
    </b:widget-settings>
    <b:includable id='main' var='this'>
<b:include name='widget-title'/>
<b:include name='content'/>
</b:includable>
    <b:includable id='content'>
<div class='widget-content'>
<b:include expr:name='&quot;widget:&quot; + data:widget.type'/>
</div>
</b:includable>
  </b:widget>
</b:section>
</nav>
</div>
</div>
</div>
</footer>
